@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --yellow-935: #6d5b00;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend';
  color: var(--yellow-935);
}
